<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Eto.Forms" version="2.1.0-build0182" targetFramework="net45" />
  <package id="Eto.Platform.Gtk" version="2.1.0-build0182" targetFramework="net45" />
  <package id="Eto.Platform.Mac" version="2.1.0-build0182" targetFramework="net45" />
  <package id="Eto.Platform.Mac.Template" version="2.1.0-build0182" targetFramework="net45" />
  <package id="Eto.Platform.Wpf" version="2.1.0-build0182" targetFramework="net45" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="net45" />
  <package id="Microsoft.Bcl.Async" version="1.0.168" targetFramework="net45" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="net45" />
  <package id="Microsoft.Net.Http" version="2.2.29" targetFramework="net45" />
  <package id="MoneroApi.Net" version="6.4.1" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="net45" />
  <package id="ZXing.Net" version="0.14.0.1" targetFramework="net45" />
</packages>